#Default group registry to download packages
registry=http://100.24.24.1:8081/repository/vois-group/
init.author.name = swelam2
init.author.email = mohamed.mahmoud.swelams@gmail.com
init.author.url = http://blog.example.com
# an email is required to publish npm packages
email=mohamed.mahmoud.swelams@gmail.com
always-auth=true
_auth=YWRtaW46YWRtaW4=